.DoctorOptionsContent {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.5em;

  height: 0;
  padding-block: 0;
  padding-inline: calc(var(--padding) - 0.5em);

  opacity: 0;
  border-bottom: 1px solid transparent;

  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    padding-block 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-bottom 0ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.DoctorOptionsToggler {
  display: flex;
  gap: 0.5em;
  align-items: center;

  height: var(--size-container);
  padding-inline: var(--padding);

  line-height: 1.5;
  color: var(--color-blue-900);
}

.DoctorOptionsToggler:focus {
  outline: none;
}

.DoctorOptionsToggler .VerticalDivider {
  height: 1.5em;
  border: 1px solid var(--color-blue-100);
}

.DoctorOptionsToggler > .DoctorOptionsToggler__px_0 {
  padding-inline: 0;
}

.DoctorOptionsToggler > .DoctorOptionsToggler__label {
  font-weight: 600;
}

.DoctorOptionsToggler .DoctorOptionsToggler__dr_type_chip_wrapper {
  min-width: 1ch; /* Prevents the text from overflowing the container */
  margin-left: auto;
}

.DoctorOptionsToggler .DoctorOptionsToggler__dr_type_chip_first {
  min-width: 1ch; /* Prevents the text from overflowing the container */
  padding-right: 0;
}

.DoctorOptionsToggler .DoctorOptionsToggler__dr_type_chip_second {
  display: none;
}

.DoctorOptionsContent.Expanded {
  height: auto;
  padding-block: var(--padding) calc(var(--padding) / 2);
  opacity: 1;
  border-bottom: 1px solid var(--color-blue-100);
}

@media only screen and (min-width: 48em) {
  .DoctorOptionsContent {
    flex-wrap: nowrap;

    height: auto;
    padding-block: 0;
    padding-inline: 0;

    opacity: 1;
    border-bottom: none;

    /* transition: none; */
    transition: all var(--cubic-bezier);
  }

  .DoctorOptionsToggler {
    display: none;
  }
}
