.FilterButton {
  min-width: calc(var(--size-container) - var(--padding__content__group) * 2);
  height: 100%;
  padding-inline: 0.5em;

  border-radius: var(--border-radius);

  transition: all var(--cubic-bezier);
}

.FilterButton.isActive {
  gap: 0.5em;
  min-width: 48px;
  color: var(--color-white);
  background: var(--color-blue-850);
}

.FilterButtonIcon {
  display: grid;
  place-items: center;
}

.FilterButtonIcon.isActive {
  color: var(--color-blue-200);
}

.FilterButtonText {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0.75rem;
}

.FilterButtonText.isActive {
  overflow: hidden;

  min-width: 48px;
  height: auto;

  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (hover: hover) {
  .FilterButton:hover {
    background: var(--color-white);
  }

  .FilterButton.isActive:hover {
    background: var(--color-blue-900);
  }
}
