.FilterButton {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.786em auto;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding-inline: 0.5em;

  transition: all var(--cubic-bezier);
}

.FilterButton.isActive {
  gap: 0.5em;
  color: var(--color-white);
  background: var(--color-blue-850);
}

.FilterButtonIcon {
  display: grid;
  place-items: center;
}

.FilterButtonIcon.isActive {
  margin-left: 0.5em;
  color: var(--color-blue-200);
}

.FilterButtonText {
  overflow: hidden;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FilterButtonText.AlwaysText {
  margin-right: 0.5em;
}

.FilterButton:has(.AlwaysText) {
  gap: 0.5em;
}

.FilterButtonText.isActive.AlwaysText {
  margin-right: 0.5em;
}

@media (hover: hover) {
  .FilterButton:hover {
    background: var(--color-white);
  }

  .FilterButton.isActive:hover {
    background: var(--color-blue-900);
  }
}
