.LanguageSelector {
  --padding-inline__lng: 0.25em;
  --border-radius__lng: 0.4em;
  --color__lng: var(--color-black-A66);
  --color-dropdown__lng: var(--color-black-A66);
  --color-item-hover__lng: var(--color-black-A87);
  --color-background-dropdown__lng: var(--color-black-A12);

  --select-input-width: 5ch;
}

.LanguageSelector.SelectBase__selected_option {
  min-width: 8ch;
  padding-inline: var(--padding-inline__lng);

  line-height: 2;
  color: var(--color__lng);

  background: transparent;
  border: 1px solid var(--color-black-A39);
  border-radius: var(--border-radius__lng, 0.4em);
}

.LanguageSelector.SelectBase__dropdown {
  gap: 0.4em;

  min-width: 15ch;
  padding-block: var(--padding-inline__lng);
  padding-inline: var(--padding-inline__lng);

  color: var(--color-dropdown__lng);

  background: var(--color-background-dropdown__lng);
  border: 1px solid var(--color-black-A39);
  border-radius: var(--border-radius__lng, 0.4em);
}

.LanguageSelector.SelectBase__dropdown_item {
  overflow: hidden;

  line-height: 2;
  text-overflow: ellipsis;
  white-space: nowrap;

  background: transparent;
}

.LanguageSelector.SelectBase__dropdown_item[aria-selected='true'] {
  color: var(--color-black-A87);
}

@media (hover: hover) {
  .LanguageSelector.SelectBase__selected_option:hover,
  .LanguageSelector.SelectBase__dropdown_item:hover {
    color: var(--color-item-hover__lng);
  }
}

@media only screen and (min-width: 768px) {
  .LanguageSelector {
    --color__lng: var(--color-black-A66, #000);
    --color-internal-dropdown: var(--color-black-A56, #0a0a0a);
    --color-item-hover__lng: var(--color, #000);
    --color-background-dropdown__lng: var(--color-white, #fff);
  }

  .LanguageSelector.SelectBase__dropdown_item[aria-selected='true'] {
    color: var(--color-black-A87);
  }
}
