/* same (minor diff) as ToggleViewContainer in Filters.module.css */
.FilterGroups {
  --padding__content__group: 0.25em;

  position: relative;

  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;

  height: var(--size-container);
  padding: var(--padding__content__group);

  background: var(--color-blue-100);
  border-radius: var(--filter-border-radius);

  transition: all var(--cubic-bezier);

}
