/* same (minor diff) as ToggleViewContainer in Filters.module.css */
.FilterGroups {
  --padding__content__group: 0.25em;

  position: relative;

  display: flex;
  flex: 1 1 40%;
  gap: 0.25em;
  align-items: center;
  justify-content: center;

  height: var(--size-container);
  padding: var(--padding__content__group);

  background: var(--color-blue-100);
  border-radius: var(--border-radius);
}

.FilterGroups.DrGroup {
  flex: 0 0 100%;
  width: fit-content;
}
.FilterGroups.AgeGroup {
  flex: 1 1 40%;
}
.FilterGroups.AcceptsGroup {
  flex: 1 1 40%;
}

@media only screen and (min-width: 768px) {
  .FilterGroups.FilterGroups.DrGroup {
    flex: 1 1 30%;
  }
  .FilterGroups.FilterGroups.AgeGroup {
    flex: 1 1 10%;
  }
  .FilterGroups.FilterGroups.AcceptsGroup {
    flex: 1 1 15%;
  }
}
