.ComponentsMDX {
  --font-size-h2: 1.3125rem;
  --font-size-h3: 1.125rem;
  --font-size-h4: 1rem;

  --line-height-h2: 2.5;
  --line-height-h3: 1.9;
  --line-height-h4: 1.7;

  --color-highlight: rgb(38, 197, 237);

  scroll-margin-top: calc(var(--header-height-sm) + 1rem);
}

:is(.ComponentsMDX.H2:first-of-type) {
  margin-top: 0;
}

.ComponentsMDX:is(h2, h3, h4, .DetailsWrapper) {
  position: relative;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

.ComponentsMDX:is(h2, h3, h4, .DetailsWrapper) > .ComponentsMDX.HeadingAnchor {
  position: absolute;
  left: -1em;

  color: var(--color-black-A39);

  opacity: 0;
  box-shadow: none;

  transition: all 0.35s ease-in-out;
}

.ComponentsMDX.DetailsWrapper > .ComponentsMDX.HeadingAnchor {
  top: 0.2em;
  left: -1.2em;
  display: flex;
}

.ComponentsMDX.H2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: var(--line-height-h2);
}

.ComponentsMDX.H3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: var(--line-height-h3);
}

.ComponentsMDX.H4 {
  font-size: var(--font-size-h4);
  font-weight: 600;
  line-height: var(--line-height-h4);
}

.ComponentsMDX.P,
.ComponentsMDX.Ul {
  margin-top: 1em;
  line-height: 1.7;
  letter-spacing: 0.007em;
  /* text-wrap: balance; */ /* Not supported yet - only Chrome-canary */
}

.ComponentsMDX.P:not(:last-child),
.ComponentsMDX.Ul:not(:last-child) {
  margin-bottom: 1.6em;
}

.ComponentsMDX.Strong {
  font-weight: 600;
}

.ComponentsMDX.A {
  font-weight: 600;
  box-shadow: inset 0 0px 0 white, inset 0 -4px var(--color-brand);
  transition: all 0.35s ease-in-out;
}

.ComponentsMDX.DetailsWrapper {
  position: relative;
}

.ComponentsMDX.Details {
  position: relative;
  margin-bottom: 1.5rem;
}

.ComponentsMDX.DetailsContent {
  transform: translateY(-1em);

  display: flex;
  flex-direction: column;
  gap: 1.6em;

  margin-top: 1em;

  opacity: 0.1;

  transition: all var(--cubic-bezier);
}

.ComponentsMDX.Details[open] > .ComponentsMDX.DetailsContent {
  transform: translateY(0);
  opacity: 1;
}

.ComponentsMDX.DetailsContent > .ComponentsMDX.P {
  margin-top: 0;
  margin-bottom: 0;
}

.ComponentsMDX.BackTo {
  --button-color: var(--color-black-A66);

  position: relative;
  z-index: 1;
  /* border-radius: 1.6em; */
  /* border: 1px solid var(--color-brand); */
  margin-left: auto;
  /* margin-right: 1.6em; */
  font-size: 0.75rem;
  font-weight: 600;

  transition: all var(--cubic-bezier);
}

.ComponentsMDX.BackOutline {
  position: absolute;
  outline: 2px dotted var(--color-highlight);
}

.ComponentsMDX.Details > .ComponentsMDX.Summary {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.8em;
  margin-bottom: 0.4em;

  font-weight: 600;
  list-style: none;
}

.ComponentsMDX.Summary::marker,
.ComponentsMDX.Summary::-webkit-details-marker {
  content: '';
  display: none;
}

.ComponentsMDX.SummaryIconWrapper {
  display: flex;
  align-items: center;
}

.ComponentsMDX.Icon {
  fill-opacity: 0.5;
  transition: all var(--cubic-bezier);
}

.ComponentsMDX.Icon.Open {
  color: var(--color-accepts-y);
}

.ComponentsMDX.Icon.Close {
  color: var(--color-accepts-n);
}

.ComponentsMDX.DataTerm {
  position: relative;

  display: inline-flex;
  justify-content: center;

  font-weight: 600;

  outline: none;

  transition: all 0.35s ease-in-out 0s;

  -webkit-box-pack: center;
}

.ComponentsMDX.DataTerm::before {
  content: '';

  position: absolute;
  z-index: 1;
  top: -2px;

  width: 100%;
  height: 100%;

  border-bottom: 2px dotted var(--color-highlight);
}

@media (hover: hover) {
  .ComponentsMDX.DetailsWrapper .ComponentsMDX.HeadingAnchor:hover,
  .ComponentsMDX.Details:has(.ComponentsMDX.Summary:hover)
    + .ComponentsMDX.HeadingAnchor,
  .ComponentsMDX:is(h2, h3, h4):hover > .ComponentsMDX.HeadingAnchor {
    opacity: 1;
  }

  .ComponentsMDX.Details:has(.ComponentsMDX.Summary:hover) .ComponentsMDX.Icon {
    fill-opacity: 1;
  }

  .ComponentsMDX.A:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -20px var(--color-brand);
  }

  .ComponentsMDX.BackTo:hover {
    --button-color: var(--color-black-A87);
  }
}

@media only screen and (min-width: 36em) {
  .ComponentsMDX {
    /* --font-size-h2: 1.5rem;
    --font-size-h3: 1.3125rem;
    --font-size-h4: 1.125rem; */

    --line-height-h2: 3;
    --line-height-h3: 2.2;
    --line-height-h4: 1.9;

    scroll-margin-top: calc(var(--header-height-lg) + 1rem);
  }
}
