.ComponentsMDX {
  --font-size-h2: 1.3125rem;
  --font-size-h3: 1.125rem;
  --font-size-h4: 1rem;

  --line-height-h2: 2.5;
  --line-height-h3: 1.9;
  --line-height-h4: 1.7;

  scroll-margin-top: calc(var(--header-height-sm) + 1rem);
}

:is(.ComponentsMDX.H2:first-of-type) {
  margin-top: 0;
}

.ComponentsMDX:is(h2, h3, h4) {
  position: relative;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

.ComponentsMDX:is(h2, h3, h4) > .ComponentsMDX.HeadingAnchor {
  position: absolute;
  left: -1em;

  color: var(--color-border);

  opacity: 0;
  box-shadow: none;

  transition: all 0.35s ease-in-out;
}

.ComponentsMDX.H2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: var(--line-height-h2);
}

.ComponentsMDX.H3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: var(--line-height-h3);
}

.ComponentsMDX.H4 {
  font-size: var(--font-size-h4);
  font-weight: 600;
  line-height: var(--line-height-h4);
}

.ComponentsMDX.P,
.ComponentsMDX.Ul {
  line-height: 1.7;
  letter-spacing: 0.007em;
}

:is(.ComponentsMDX.H2, .ComponentsMDX.H3, .ComponentsMDX.H4) ~ .ComponentsMDX.P,
:is(.ComponentsMDX.H2, .ComponentsMDX.H3, .ComponentsMDX.H4)
  ~ .ComponentsMDX.Ul {
  margin-bottom: 1.75em;
}

.ComponentsMDX.Strong {
  font-weight: 600;
}

.ComponentsMDX.A {
  font-weight: 600;
  box-shadow: inset 0 0px 0 white, inset 0 -4px var(--color-brand);
  transition: all 0.35s ease-in-out;
}

@media (hover: hover) {
  .ComponentsMDX:is(h2, h3, h4):hover > .ComponentsMDX.HeadingAnchor {
    opacity: 1;
  }

  .ComponentsMDX.A:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -20px var(--color-brand);
  }
}

@media only screen and (min-width: 576px) {
  .ComponentsMDX {
    /* --font-size-h2: 1.5rem;
    --font-size-h3: 1.3125rem;
    --font-size-h4: 1.125rem; */

    --line-height-h2: 3;
    --line-height-h3: 2.2;
    --line-height-h4: 1.9;

    scroll-margin-top: calc(var(--header-height-lg) + 1rem);
  }
}
