.DrActions {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.DrActions.Row {
  flex-direction: row;
}

.DrActions > .IconContainer {
  align-self: center;
}

.DrActions > .IconContainer > .IconButton {
  --icon-button-padding: 0.5em;
}

.DrActions .IconContainer > .IconButton.Phone {
  --icon-button-size: 1.5em;
}

.DrActions .Tooltip {
  padding-inline: 0;

  color: inherit;

  opacity: 1;
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.DrActions .Tooltip > .Tooltip__group {
  display: flex;
  flex-direction: column;
}

.DrActions .Tooltip > .Tooltip__group > .Tooltip__item > * {
  --button-font-size: 0.875;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  font-weight: 400;
}

.DrActions .Tooltip > .Tooltip__group > hr {
  background-color: var(--color-blue-300);
}

.DrActions .Tooltip > .Tooltip__group > .Tooltip__item .Tooltip__icon {
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  .DrActions .IconContainer > .IconButton:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .DrActions .Tooltip > .Tooltip__group > .Tooltip__item:hover {
    background-color: var(--color-blue-300);
  }
}
