.BigMap {
  --color-accepts-y_marker: var(--color-green-300);
  --color-accepts-n_marker: var(--color-red-300);
}

.BigMap .DrCircle.Accepts {
  fill: var(--color-accepts-y_marker);
}

.BigMap .DrCircle.Rejects {
  fill: var(--color-accepts-n_marker);
}

.MapSkeletonContainer {
  position: relative;
  width: 100dvw;
  height: calc(100dvh - var(--header-height-sm));
}

.MapSkeletonContainer.Sm {
  height: var(--doctor-card-map-height, 350px);
}

.Popup {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .MapSkeletonContainer {
    width: calc(100dvw - var(--list-width));
    height: calc(100dvh - var(--header-height-lg));
  }
}
