.Tooltip {
  position: absolute;
  z-index: 99999;

  width: max-content;
  padding-block: 0.5em;
  padding-inline: 1em;

  font-weight: 700;
  color: var(--color-tooltip-text);

  background-color: var(--color-tooltip-bg);
  border-radius: 4px;
}

.Tooltip.Small {
  font-size: 0.625rem;
}
