/* the new css is applied in _app.tsx */
/* https://elad2412.github.io/the-new-css-reset/ */

:root {
  scroll-behavior: smooth;
  font-size: 100%;
  text-size-adjust: 100%;
}

html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

:focus-visible {
  outline: auto;
  outline-color: #007bff;
  outline-offset: 1px;
}
