.Typography {
  position: relative;

  display: flex;
  gap: 0.2em;
  align-items: center;

  font-size: inherit;
  color: var(--color-grey-900);
}

.Typography.H1 {
  font-size: var(--font-size, 1.5rem);
  font-weight: 700;
}

.Typography.H2 {
  font-size: var(--font-size, 1.25rem);
  font-weight: 700;
}

.Typography.Strong {
  font-size: var(--font-size, 1rem);
  font-weight: 700;
}

.Typography.Body2 {
  font-size: var(--font-size, 0.75rem);
  font-weight: 400;
  color: var(--color, var(--color-body2));
}
