.Typography {
  position: relative;
  font-size: inherit;
  color: inherit;
}

.Typography.H1 {
  font-size: 2rem;
  font-weight: 700;
}

.Typography.H2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.Typography.H3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.Typography.H4 {
  font-size: 1rem;
  font-weight: 700;
}

.Typography.H5 {
  font-size: 0.875rem;
  font-weight: 700;
}

.Typography.H6 {
  font-size: 0.75rem;
  font-weight: 700;
}

.Typography.Strong {
  font-size: 1em;
  font-weight: 700;
}

.Typography.Body1 {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color, var(--color-body1, var(--color-body2)));
}

.Typography.Body2 {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color, var(--color-body2));
}
