/* footer styles are in its module*/

.ListHeader {
  position: sticky;
  z-index: 30;
  top: 0;

  display: grid;
  place-items: center;

  height: var(--list-header-height);

  font-size: 0.75rem;

  background-color: var(--color-blue-50);
}

.ListInnerContainer {
  position: absolute;
  z-index: 20;

  overflow-y: auto;

  width: 100%;
  max-height: calc(
    100dvh - var(--header-height-sm) - var(--list-header-height)
  );

  background: transparent;
}

.InfoLetter {
  position: sticky;
  z-index: 1;
  top: 0;

  font-size: 1rem;
  text-align: center;

  background-color: var(--color-blue-100);
}

.Skeleton {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-block: 1em;
  margin-inline: 2em;
}

.Skeleton.Child {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-inline: 0;
}

.ScrollToTop {
  will-change: right;

  position: fixed;
  z-index: 1;
  right: -5em;
  bottom: calc(var(--footer-height) + 5em);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 3em;
  height: 3em;

  background-color: var(--color-blue-500-A76, grey);

  transition: all 0.3s ease-in-out;
}

.ScrollToTop.Show {
  right: 2em;
}

@media (hover: hover) {
  .ScrollToTop:hover {
    background-color: var(--color-blue-500-A87);
  }
}

@media only screen and (min-width: 48em) {
  .ListInnerContainer {
    max-height: calc(
      100dvh - var(--header-height-lg) * 2 - var(--list-header-height)
    );
    padding-bottom: var(--footer-height);
  }

  .ScrollToTop {
    bottom: 2em;
  }
}
