/* footer styles are in its module*/

.ListHeader {
  position: sticky;
  z-index: 30;
  top: 0;

  display: grid;
  place-items: center;

  height: 2.5rem;

  font-size: 0.75rem;

  background-color: var(--color-blue-50);
}

.ListInnerContainer {
  position: relative;
  z-index: 20;

  overflow: auto;

  min-height: calc(100% - var(--footer-height-sm));

  background-color: var(--color-blue-50);
}

@media only screen and (min-width: 768px) {
  .ListInnerContainer {
    min-height: calc(100% - var(--header-height-lg) * 2);
  }
}
