.Select {
  --offset: 0.25em;
  --padding-inline: 0;
  --padding-block: 0;
  --color-select: var(--color-black, #000);

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;

  color: var(--color-select);
}

.Select .SelectedOption {
  cursor: pointer;

  display: inline-flex;
  gap: 0.1em;
  align-items: center;

  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);

  color: inherit;

  border: 1px solid var(--color-select);
}

.Select .Caret {
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.Select .OptionsList {
  position: absolute;
  z-index: 1;

  display: inline-flex;
  flex-direction: column;
  gap: 0.125em;

  width: max-content;
  margin: 0;
  padding: 0;

  color: inherit;

  background-color: var(--color-background, #fff);
  border: 1px solid var(--color-select);
}

.Select .OptionsList.Bottom {
  top: calc(100% + var(--offset));
  bottom: auto;
}

.Select .OptionsList.Top {
  top: auto;
  bottom: calc(100% + var(--offset));
}

.Select .OptionsList.Left {
  right: auto;
  left: 0;
}

.Select .OptionsList.Right {
  right: 0;
  left: auto;
}

.Select .OptionsList.Center {
  left: 50%;
  transform: translateX(-50%);
}

.Select .Option {
  cursor: pointer;

  width: 100%;

  text-align: right;

  background: inherit;

  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .Select .Option:hover {
    text-decoration: underline;
  }
}

.Select .Option[aria-selected='true'] {
  text-decoration: underline;
}

.Select .Option[aria-disabled='true'] {
  cursor: not-allowed;
  text-decoration: none;
}

@media (hover: hover) {
  .Select .Option[aria-disabled='true']:hover {
    text-decoration: none;
  }
}
