.Filters {
  --size-container: 3rem;
  --size-button: 2.5rem;

  --border-radius: 1.5rem;
  --padding: calc(var(--border-radius) / 2);

  display: flex;
  flex-direction: column;
  gap: 2em;

  margin-bottom: 1.5em;
  margin-inline: 2em;

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black-A66);
}

.FiltersSecondContainer {
  display: flex;
  flex-wrap: no-wrap;
  gap: 1em;
}

.SearchContainer {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.ToggleViewContainer {
  position: relative;
  right: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--size-container);
  height: var(--size-container);
  padding: 0.2em;

  background: var(--color-blue-100);
  border-radius: 50%;

  transition: right 0.8s ease-in-out 0.5s, box-shadow var(--cubic-bezier);
}

.ToggleViewContainer:focus-within {
  box-shadow: var(--box-shadow);
}

.ToggleViewContainer.Loading {
  right: -200%;
}

.ToggleViewContainer .Btn {
  position: relative;

  overflow: hidden;

  width: var(--size-button);
  height: var(--size-button);

  font-size: 1rem;
  color: var(--color-blue-100);

  background: var(--color-blue-900);
  border-radius: 50%;
}

.ToggleViewContainer .Btn:focus-visible {
  outline: none;
}

.ToggleViewContainer .Btn span {
  position: relative;
  width: 1em;
  height: 1em;
}

.ToggleViewContainer .Btn span > svg {
  position: absolute;
  transition: left var(--ease-in-out), right var(--ease-in-out);
}

.ToggleViewContainer .Btn.List span > svg:first-child {
  left: 0;
}
.ToggleViewContainer .Btn.Map span > svg:first-child {
  left: -200%;
}

.ToggleViewContainer .Btn.Map span > svg:last-child {
  right: 0;
}
.ToggleViewContainer .Btn.List span > svg:last-child {
  right: -200%;
}

@media only screen and (min-width: 768px) {
  .Filters {
    flex-direction: row;

    height: 100%;
    margin-bottom: 0;
    margin-inline: 0;
    padding-block: 0.5em;
    padding-inline: 1em;

    background: var(--color-white);
  }

  .Filters > *:last-child {
    margin-left: auto;
  }

  .FiltersSecondContainer > *:last-child {
    display: none;
  }
}
