.Header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height-sm);
  padding-right: var(--header-height-sm);

  background-color: var(--color-brand);

  transition: height 0.3s ease-in-out;
}

.Header.Shrunk {
  height: var(--header-height-xs);
}

@media only screen and (min-width: 48em) {
  .Header {
    display: flex;
    height: var(--header-height-lg);
    padding-right: 0;
  }

  .Header.Shrunk {
    height: var(--header-height-sm);
  }
}
