.Header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height-sm);
  padding-right: var(--header-height-sm);

  background-color: var(--color-brand);
}

@media only screen and (min-width: 768px) {
  .Header {
    display: flex;
    padding-right: 0;
  }
}
