.Button {
  display: inline-flex;
  align-items: center;

  min-width: calc(
    var(--button-size, 1.5em) + var(--button-padding-inline, 1em) * 2
  );
  min-height: calc(
    var(--button-size, 1.5em) + var(--button-padding-block, 0.5em) * 2
  );
  padding-block: var(--button-padding-block, 0.5em);
  padding-inline: var(--button-padding-inline, 1em);

  font-weight: var(--font-weight, 500);
}

.Button__container {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
