.Button {
  padding-block: var(--button-padding-block, 0.5em);
  padding-inline: var(--button-padding-inline, 1em);

  font-size: var(--button-font-size, 1rem);
  font-weight: var(--font-weight, 500);
  color: var(--button-color, inherit);

  background-color: var(--button-background-color, transparent);
  border: var(--button-border, 1px solid transparent);
  border-radius: var(--button-border-radius, 0);

  transition: var(--button-transition, none);
}

.Button__container {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* Button font */
.Button.XXSmall__font {
  --button-font-size: 0.625rem;
}

.Button.XSmall__font {
  --button-font-size: 0.6875rem;
}

.Button.Small__font {
  --button-font-size: 0.75rem;
}

.Button.Medium__font {
  --button-font-size: 0.875rem;
}

.Button.Large__font {
  --button-font-size: 1rem;
}

.Button.XLarge__font {
  --button-font-size: 1.125rem;
}

.Button.XXLarge__font {
  --button-font-size: 1.25rem;
}

/* Button Radius */
.Button.XXSmall__radius {
  --button-border-radius: 0;
}

.Button.XSmall__radius {
  --button-border-radius: 0.25rem;
}

.Button.Small__radius {
  --button-border-radius: 0.5rem;
}

.Button.Medium__radius {
  --button-border-radius: 0.75rem;
}

.Button.Large__radius {
  --button-border-radius: 1rem;
}

.Button.XLarge__radius {
  --button-border-radius: 1.25rem;
}

.Button.XXLarge__radius {
  --button-border-radius: 1.5rem;
}

@media (hover: hover) {
  .Button:hover {
    --button-color: var(--button-color-hover, inherit);
    --button-background-color: var(
      --button-background-color-hover,
      transparent
    );
  }
}
