.Footer {
  padding-inline: 2em;
  font-size: 0.75rem;
  color: var(--color-blue-900);
  border-top: 1px dashed var(--color-black-A39);
}

.Footer :is(a, strong) {
  font-weight: 600;
}

.Footer a {
  color: var(--color-blue-700);
}

.Footer strong {
  color: var(--color-grey-900);
}

.Footer.Mdx {
  position: fixed;
  z-index: var(--z-index-mdx-footer);
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: var(--footer-height);
}

.Footer.List {
  position: sticky;
  bottom: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--footer-height);
  margin-bottom: 0;

  font-size: 0.75rem;

  background-color: transparent;
  background-color: transparent;
}

.Footer.Mdx .Content {
  flex-grow: 1;
  color: var(--color-blue-900);
}

@media only screen and (min-width: 768px) {
  .Footer.Mdx .Content {
    max-width: var(--mdx-container-width);
    margin-inline: auto;
    padding-inline: 0;
  }

  .Footer.List {
    position: sticky;
    bottom: 0;
    margin-bottom: 0;
    background-color: transparent;
    /* width: 100%; */
  }
}
