.Footer {
  padding-inline: 2em;
  font-size: 0.75rem;
  color: var(--color-blue-900);
  border-top: 1px dashed var(--color-black-A39);
}

.Footer :is(a, strong) {
  font-weight: 600;
}

.Footer a {
  color: var(--color-blue-700);
}

.Footer strong {
  color: var(--color-grey-900);
}

.Footer.Doctor,
.Footer.Mdx {
  position: fixed;
  z-index: var(--z-index-mdx-footer);
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: var(--footer-height);
}

.Footer.Doctor {
  padding-inline: 1em;
}

.Footer.List {
  width: 100%;
  height: var(--footer-height-sm__list);
  padding-block: 0.5em;
  padding-inline: 2.75em;

  font-size: 0.875rem;

  background-color: transparent;
  border-top: 1px dashed transparent;
}

.Footer.Doctor .Content__wrapper,
.Footer.Mdx .Content__wrapper {
  flex-grow: 1;
  color: var(--color-blue-900);
}

.Footer.List .Content__wrapper {
  display: flex;
  align-items: center;
  height: var(--footer-height);
  font-size: 0.75rem;
}

.Content__item {
  margin-block: 0.175em;
}

@media only screen and (min-width: 768px) {
  .Footer.Mdx .Content__wrapper {
    max-width: var(--mdx-container-width);
    margin-inline: auto;
    padding-inline: 0;
  }

  .Footer.List {
    bottom: 0;

    display: flex;
    align-items: center;

    height: var(--footer-height);
    margin-bottom: 0;
    padding-top: initial;
    padding-bottom: initial;
    padding-inline: 1.5em;

    background-color: transparent;
  }

  .Footer.List .Content__wrapper {
    flex-grow: 1;
  }

  .Footer.Doctor {
    padding-inline: 1em;
  }

  .Footer.Doctor .Content__wrapper {
    max-width: var(--doctor-container-width);
    margin-inline: auto;
    font-size: 0.875rem;
  }

  .Footer.Doctor .Content__wrapper > * {
    margin-inline: 1em;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .Footer.List {
    padding-inline: 2.75em;
  }
}
