.NavigationContainer {
  will-change: left, right, z-index;

  position: fixed;
  z-index: -1;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;

  visibility: hidden;
  background-color: var(--color-brand);

  transition: all var(--nav-transition-time) ease-in-out;
}

.NavigationContainer .Opacity {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.NavigationContainer.MenuOpen {
  z-index: 9980;
  right: 0;
  left: 0;
  visibility: visible;
}

.NavigationContainer.MenuOpen .Opacity {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.1s;
}

@media only screen and (min-width: 23.4375em) {
  .NavigationContainer.MenuOpen {
    left: 20%;
  }
}

@media only screen and (min-width: 36em) {
  .NavigationContainer.MenuOpen {
    left: 35%;
  }
}

@media only screen and (min-width: 48em) {
  .NavigationContainer {
    will-change: auto;

    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;

    display: block;

    margin-left: auto;

    visibility: visible;
  }

  .NavigationContainer .Opacity {
    opacity: 1;
  }

  .NavigationContainer.MenuOpen {
    left: unset;
  }
}
