.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  min-height: 100dvh;
  padding-inline: 1em;

  font-size: 0.875rem;
}

.Navigation .title {
  display: flex;
  align-items: center;

  font-size: calc(10 / 16 * 2.1rem);
  font-weight: 700;
  line-height: var(--header-height-sm);
}

.Navigation .navLinks {
  --button-padding-inline: 0;
  --button-padding-block: 0;
  --button-border: none;
  --button-border-radius: 0;

  display: flex;
  gap: 1em;
  font-weight: 500;
  color: var(--color-black-A66);
}

.Navigation .navLinks > li > :is(a, button):hover {
  --button-background-color: transparent;

  color: var(--color-black-A87);
}

.Navigation .navLinks.first {
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.Navigation .navLinks.last {
  flex-direction: row;
  flex-grow: 0;
  gap: 0.25em;
  align-items: center;

  margin-bottom: 1em;
}

.Navigation .navLinks.last > li:last-child {
  margin-left: auto;
}

@media only screen and (min-width: 48em) {
  .Navigation {
    flex-direction: row;
    gap: 1em;
    align-items: center;

    min-width: unset;
    min-height: unset;
    padding-inline: 0;
  }

  .Navigation .title {
    display: none;
  }

  .Navigation .navLinks.first {
    flex-direction: row;
    flex-grow: 0;
  }
  .Navigation .navLinks.last {
    flex-direction: row;
    gap: 0.25em;
    margin-bottom: unset;
  }

  .Navigation .navLinks.last > li:last-child {
    margin-left: 0.5em;
  }
}
