.DoctorReportError__container {
  --card-padding: 1rem;
  --card-border-radius: 5px;

  position: absolute;
  inset: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-top: calc(var(--card-padding) * 3);
  padding-bottom: var(--card-padding);
  padding-inline: var(--card-padding);

  font-size: 0.875rem;

  background-color: white;
  border-radius: var(--card-border-radius);
}

.DoctorReportError__container > .Cancel {
  position: absolute;
  top: 0;
  right: 0;

  display: grid;
  place-items: center;

  width: 3rem;
  height: 3rem;

  background-color: transparent;
}

.DoctorReportError__form {
  overflow-y: auto;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  max-height: calc(
    100% - var(--card-padding) * 4 + 2rem + 2rem
  ); /* temporary */

  padding: 1rem;

  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 4px 0px;
}

.DoctorReportError__action_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.DoctorReportError__action_container .Button {
  --button-font-weight: 600;
}

.DoctorReportError__diffs_container {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  gap: 1em;
}

.Button {
  --form-btn-box-shadow__values: 0px 0px 7px 0px;

  color: var(--form-btn-color, inherit);

  background-color: var(--form-btn-background-color, transparent);
  border: 1px solid var(--form-btn-border-color, transparent);
  box-shadow: var(--form-btn-box-shadow, none);

  transition: var(--cubic-bezier);
}

.Button.Right {
  margin-left: auto;
}

.Button.Contained {
  --form-btn-color: var(--color-white);
  --form-btn-background-color: var(--color-accepts-y);
  --form-btn-border-color: var(--form-btn-background-color);
}

.Button.Outlined {
  --form-btn-border-color: var(--color-accepts-n);
  --form-btn-color: var(--color-accepts-n);
}

.Button.Text {
  --form-btn-color: inherit;
  --form-btn-background-color: transparent;
  --form-btn-border-color: transparent;

  opacity: 0.7;
}

@media (hover: hover) {
  .Button.Contained:hover {
    --form-btn-box-shadow: var(--form-btn-background-color)
      var(--form-btn-box-shadow__values);
    --form-btn-border-color: var(--form-btn-background-color);
  }

  .Button.Outlined:hover {
    --form-btn-box-shadow: var(--form-btn-color)
      var(--form-btn-box-shadow__values);
  }

  .Button.Text:hover {
    opacity: 1;
  }
}

.FormGroup__fieldset {
  display: grid;
  gap: 1em;
}

.FormGroup__fieldset .FormGroup__legend {
  margin-bottom: 0.5em;
}

.FormGroup__values {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.FormGroup__chip {
  width: max-content;

  font-weight: 500;
  letter-spacing: 0.1px;

  background-color: var(--color-blue-800-A40);
  border-radius: 24px;
}

.Value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Value.InitialValue > strong {
  display: inline-block;
  padding-inline: 0.5em;
  line-height: 1.5;
  background-color: var(--color-red-500-A40);
}

.Value.ChangedValue > strong {
  display: inline-block;
  padding-inline: 0.5em;
  line-height: 1.5;
  background-color: var(--color-green-500-A40);
}

.FormGroup__fieldset .FormGroup__full_width {
  grid-column: 1 / -1;
}

.FormGroup__fieldset .FormGroup__field {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

.FormGroup__fieldset .FormGroup__field .Input {
  grid-column: 1 / 2;
}

.FormGroup__accepts_and_availability {
  --select-base-input-width: 3ch;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.FormGroup__accepts_and_availability > * {
  flex: 0 1;
}

.FormGroup__accepts_and_availability > * input {
  flex: 0 1;
}

@media only screen and (min-width: 768px) {
  .DoctorReportError__container {
    --card-border-radius: 5px;

    max-width: 768px;
    max-height: 70dvh;
    margin: auto;
  }

  .FormGroup__fieldset {
    grid-template-columns: 1fr 1fr;
  }
}
