.LayoutMDX {
  position: relative;
  z-index: var(--z-index-mdx-main);

  margin-top: calc(var(--header-height-sm));
  margin-bottom: calc(var(--footer-height) + 2em);

  font-size: 0.875rem;
  color: var(--color-black-A87);

  background: var(--color-blue-50);
}

.LayoutMDX > .ContainerMDX {
  position: relative;

  padding-block: 1.6em;
  padding-inline: 2em;

  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
}

.LayoutMDX > .ContainerMDX > .ContentMDX {
  max-width: 60ch;
  margin-inline: auto;
}
.LayoutMDX > .ContainerMDX > .ContentMDX:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 48em) {
  .LayoutMDX {
    margin-top: calc(var(--header-height-lg) + 2em);
  }

  .LayoutMDX > .ContainerMDX {
    max-width: var(--mdx-container-width);
    margin-inline: auto;
    padding-inline: 2em;
  }
}
