.Layout {
  position: fixed;
  top: var(--header-height-sm);
  left: 0;

  overflow-x: hidden;
  overflow-y: hidden;

  width: 100%;
  height: calc(100dvh - var(--header-height-sm));

  background-color: var(--color-blue-50);
}

.Layout .Absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Layout > .Absolute.MapSection,
.Layout > .Absolute.ListSection {
  z-index: 8;
  transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
}

.Layout > .Absolute.MapSection {
  right: 100%;
  left: -100%;
}

.Layout > .Absolute.ListSection {
  right: -100%;
  left: 100%;
}

.Layout > .Absolute.MapSection.Visible,
.Layout > .Absolute.ListSection.Visible {
  right: 0;
  left: 0;
}

.Layout > .ListSection {
  --list-header-height: 2.5rem;
}

.Layout > .Absolute.ListSection > * {
  visibility: hidden;
}
.Layout > .Absolute.ListSection.Visible > * {
  visibility: visible;
}

.Layout > .Absolute.FiltersSection {
  z-index: 9;
  top: unset;
  right: 1em;
  bottom: 1.5em;
  left: 1em;

  background: transparent;
}

@media only screen and (min-width: 48em) {
  .Layout {
    --list-width: 21.875rem; /* 350px */

    top: var(--header-height-lg);

    display: grid;
    grid-auto-flow: row;
    grid-template: 'filters filters' 4rem 'map list' 1fr / auto var(
        --list-width
      );
    gap: 0;

    height: calc(100dvh - var(--header-height-lg));
  }

  .Layout > .MapSection {
    position: relative;
    grid-area: map;
    height: calc(100dvh - var(--header-height-lg) * 2);
  }

  .Layout > .MapSection::before {
    content: '';

    position: absolute;
    z-index: 100;
    top: 0;
    right: -1px;
    bottom: 0;

    border-right: 1px solid var(--color-blue-100);
  }

  .Layout > .ListSection {
    position: relative;
    grid-area: list;
  }

  .Layout > .FiltersSection {
    grid-area: filters;
  }
}

@media only screen and (min-width: 64em) {
  .Layout {
    --list-width: 28.125rem; /* 450px */
  }
}
