.LayoutError {
  position: absolute;
  top: var(--header-height-sm);
  right: 0;
  bottom: var(--footer-height);
  left: 0;

  display: grid;
  place-items: center;

  font-size: 0.875rem;
  color: var(--color-black-A87);
}

.LayoutError .ContainerError {
  position: fixed;
  top: var(--header-height-sm);
  right: 0;
  bottom: var(--footer-height);
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
  justify-content: center;

  padding-block: 1.6em;
  padding-inline: 2em;

  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
}

.LayoutError .ContainerError__text_container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.LayoutError .ContainerError__title {
  font-size: 1.6rem;
  font-weight: 700;
}

.LayoutError .ContainerError__message {
  font-size: 0.875rem;
  font-weight: 400;
}

.LayoutError .ContainerError__image_container {
  position: relative;

  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: calc(200px * 1052 / 752);

  object-fit: contain;
}

.LayoutError .ContainerError__button_inside,
.LayoutError .ContainerError__button_outside {
  padding-block: 0.6em;
  padding-inline: 2.5em;

  font-weight: 700;
  color: var(--color-white);

  background: var(--color-black-A66);
  border-radius: 100px;

  transition: background 0.2s ease-in-out;
}

.LayoutError .ContainerError__button_inside {
  display: none;
}

@media (hover: hover) {
  .LayoutError .ContainerError__button_inside:hover,
  .LayoutError .ContainerError__button_outside:hover {
    background: var(--color-grey-900);
  }
}

@media only screen and (max-height: 31.25em) {
  .LayoutError .ContainerError {
    flex-direction: row;
  }

  .LayoutError .ContainerError__text_container {
    justify-content: space-around;
    height: 100%;
  }

  .LayoutError .ContainerError__image_container {
    max-width: 150px;
    max-height: calc(150px * 1052 / 752);
  }

  .LayoutError .ContainerError__button_inside,
  .LayoutError .ContainerError__button_outside {
    min-width: unset;
    min-height: unset;
    padding-inline: 2em;
  }

  .LayoutError .ContainerError__button_outside {
    display: none;
  }
  .LayoutError .ContainerError__button_inside {
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 1;
  }
}

@media only screen and (min-width: 48em) {
  .LayoutError {
    top: var(--header-height-lg);
  }

  .LayoutError .ContainerError__title {
    font-size: 1.8rem;
  }

  .LayoutError .ContainerError__message {
    font-size: 1rem;
  }
}
