.SelectBase {
  position: relative;

  display: inline-flex;
  align-items: center;

  width: auto;

  color: var(--select-color, inherit);
}

.SelectBase .SelectBase__selected_option {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  min-width: var(--select-selected-min-width, auto);
  max-width: var(--select-selected-max-width, auto);
  padding-block: var(--select-selected-padding-block, 0);
  padding-inline: var(--select-selected-padding-inline, 0);

  color: var(--select-selected-color, inherit);

  background-color: var(--select-selected-background-color, transparent);
  border: var(--select-selected-border, 1px solid var(--select-color, #000));
  border-radius: var(--select-selected-border-radius, 0.25em);
}

.SelectBase .SelectBase__selected_option .SelectBase__input {
  width: var(--select-input-width, auto);
  max-width: var(--select-input-max-width, auto);
  padding-block: var(--select-input-padding-block, 0);
  padding-inline: var(--select-input-padding-inline, 0);

  outline: none;
}

.SelectBase .SelectBase__selected_option:focus-within {
  outline: auto;
  outline-color: #007bff;
  outline-offset: 1px;
}

.SelectBase .SelectBase__caret {
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.SelectBase .SelectBase__dropdown {
  position: absolute;
  z-index: 1;

  display: inline-flex;
  flex-direction: column;
  gap: var(--select-dropdown-gap, 0.125em);

  width: max-content;
  min-width: var(--select-dropdown-min-width, auto);
  margin: 0;
  padding-block: var(--select-dropdown-padding-block, 0.25em);
  padding-inline: var(--select-dropdown-padding-inline, 0.5em);

  color: var(--select-dropdown-color, inherit);

  background-color: var(--select-dropdown-background-color, #fff);
  border: var(--select-dropdown-border, 1px solid var(--select-color, #000));
  border-radius: var(--select-dropdown-border-radius, 0.25em);
}

.SelectBase .SelectBase__dropdown.Bottom {
  top: calc(100% + var(--select-options-offset, 0.25em));
  bottom: auto;
}

.SelectBase .SelectBase__dropdown.Top {
  top: auto;
  bottom: calc(100% + var(--select-options-offset, 0.25em));
}

.SelectBase .SelectBase__dropdown.Left {
  right: auto;
  left: 0;
}

.SelectBase .SelectBase__dropdown.Right {
  right: 0;
  left: auto;
}

.SelectBase .SelectBase__dropdown.Center {
  left: 50%;
  transform: translateX(-50%);
}

.SelectBase .SelectBase__dropdown_item {
  cursor: pointer;

  width: 100%;
  height: var(--select-dropdown-item-height);

  color: var(--select-dropdown-item-color, inherit);
  text-align: right;
  text-decoration: var(--select-dropdown-item-text-decoration, none);

  background: var(--select-dropdown-item-background, transparent);

  transition: var(--select-dropdown-item-transition, all 0.2s ease-in-out);
}

@media (hover: hover) {
  .SelectBase .SelectBase__dropdown_item:hover {
    --select-dropdown-item-text-decoration: underline;
  }

  .SelectBase .SelectBase__dropdown_item[aria-disabled='true']:hover {
    --select-dropdown-item-text-decoration: none;
  }
}

.SelectBase .SelectBase__dropdown_item[aria-selected='true'] {
  --select-dropdown-item-text-decoration: underline;
}

.SelectBase .SelectBase__dropdown_item[aria-disabled='true'] {
  --select-dropdown-item-text-decoration: none;

  cursor: not-allowed;
}
