.SelectBase {
  --select-options-offset: 0.25em;
  --select-color: var(--color-black, inherit);

  position: relative;

  display: inline-flex;
  align-items: center;

  width: auto;

  color: var(--select-color);
}

.SelectBase .SelectBase__selected_option {
  cursor: pointer;

  display: inline-flex;
  gap: 0.1em;
  align-items: center;

  padding-block: var(--select-selected-padding-block);
  padding-inline: var(--select-selected-padding-inline);

  color: inherit;

  border: 1px solid var(--select-color);
}

.SelectBase .SelectBase__selected_option .SelectBase__input {
  width: var(--select-input-width, auto);
  max-width: var(--select-input-max-width, auto);
  padding-block: var(--select-input-padding-block);
  padding-inline: var(--select-input-padding-inline);

  outline: none;
}

.SelectBase .SelectBase__selected_option:focus-within {
  outline: auto;
  outline-color: #007bff;
  outline-offset: 1px;
}

.SelectBase .SelectBase__caret {
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.SelectBase .SelectBase__dropdown {
  position: absolute;
  z-index: 1;

  display: inline-flex;
  flex-direction: column;
  gap: 0.125em;

  width: max-content;
  margin: 0;
  padding: 0;

  color: inherit;

  background-color: var(--color-blue-50, #fff);
  border: 1px solid var(--select-color);
}

.SelectBase .SelectBase__dropdown.Bottom {
  top: calc(100% + var(--select-options-offset));
  bottom: auto;
}

.SelectBase .SelectBase__dropdown.Top {
  top: auto;
  bottom: calc(100% + var(--select-options-offset));
}

.SelectBase .SelectBase__dropdown.Left {
  right: auto;
  left: 0;
}

.SelectBase .SelectBase__dropdown.Right {
  right: 0;
  left: auto;
}

.SelectBase .SelectBase__dropdown.Center {
  left: 50%;
  transform: translateX(-50%);
}

.SelectBase .SelectBase__dropdown_item {
  cursor: pointer;

  width: 100%;

  text-align: right;

  background: inherit;

  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .SelectBase .SelectBase__dropdown_item:hover {
    text-decoration: underline;
  }
}

.SelectBase .SelectBase__dropdown_item[aria-selected='true'] {
  text-decoration: underline;
}

.SelectBase .SelectBase__dropdown_item[aria-disabled='true'] {
  cursor: not-allowed;
  text-decoration: none;
}

@media (hover: hover) {
  .SelectBase .SelectBase__dropdown_item[aria-disabled='true']:hover {
    text-decoration: none;
  }
}
